dist
build
.DS_Store
nb-configuration.xml
logfile.txt
logfile.txt*
nbproject/private
Fixity
Fixity/*
derby.properties
derby.log
log
log/*
schedules
schedules/*
reports
reports/*
history
history/*
FixityDB
FixityDB/*
conf.xml
exe
exe/*
debug.log
/target/
/nbproject/
fixity.jar

out/bundles/

out/
/ant-build-files/nbproject/private/
test/resources/TEST/

test/resources/TEST2/

test/resources/TEST3/

test/resources/TEST_!\@#%/

*.exe

*.pkg
nbactions.xml