<!doctype html>
<html lang="en">
<head>
{{> partials/head }}
</head>
<body>
  {{> partials/navbar }}
  <div class="container-xl">
    <h1>OpenFixity</h1>
    <p class="lead">
      Browser based fixity checking.
    </p>
    <p>
      OPF:
    </p>
    <p>
      History:
    </p>
    <p>
      Technology:
    </p>
  </div><!-- end container -->
  {{> partials/footer}}
</body>
</html>
